{% extends "layout.html" %}
{% set pageID = "page-home-supervisor" %}


{% block style %}
<link rel="stylesheet" href="css/supervisor.css">
{% endblock style %}

<div id="page-home-supervisor">
{% block content %}



<div class="grid">
    <header>
        <div class="logo">
     <img src="/img/bndUru.png" alt="imagem bandeira de uruguaiana">
        </div>
        <div class="info-sup">
            <h2>Supervisor:</h2>
            Thiago Fernandes Ribeiro

        </div>

</header>
</div>









{% endblock content %}

</div>
